{% extends 'data/base.html' %}
{% block Forecast_active %}active{% endblock %}
{% block body %}

<div class="container pt-5">

    <div class="row pt-5">
        <form method="post">
            <h2 class="form-signin-heading">Submit your weather data here:</h2>
            <p>For the "date" field, please use the following format: YYYY-MM-DD</p>

            {% csrf_token %}        
            {% for field in form %}

                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}

                    {% if field.help_text %}
                        <small style="color: grey;">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </p>

            {% endfor %}

            <button class="btn btn-lg btn-primary btn-block" type="submit" style="cursor: pointer;">Submit</button>

        </form>
    </div>

</div>


{% endblock %}